# ASCON CW305 side-channel project
*.bit
*.dcp
*.jou
*.log
*.str
*.rpt
*.pb
*.vcd
*.fst
vivado.jou
vivado.log
vivado_pid*.str
vivado_*.backup.*
.Xil/
__pycache__/
.vivado
.ip_user_files
build_logs/
Dataset/
*.vvp
tb_verify_exp.txt
tb_verify.fst
*.swp
*.orig
clockInfo.txt
target_api_docs*.txt
training/plots/
training/data/
.venv/
training/models/
